<form action="/add-to-favourites" method="POST" class="flex-1">
    <input type="hidden" name="id" value="<%= home.id %>">

    <button
        type="submit"
        class="w-full bg-[#FF5A5F] text-white py-3 rounded-xl font-semibold hover:bg-[#E61E4D] transition">
        Add to Favourites
    </button>
</form>